@font-face {
	font-family: 'Simple-Line-Icons';
	src:url('../fonts/Simple-Line-Icons.eot');
	src:url('../fonts/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Simple-Line-Icons.woff') format('woff'),
		url('../fonts/Simple-Line-Icons.ttf') format('truetype'),
		url('../fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.iconSobre:before {
	content: "\e01f";
}

.iconTel:before {
	content: "\e048";
	 
	

}

.iconMap:before {
	content: "\e096";


}

html, body{
  height:100%;
}

body {

	background-color: #36464E;
}

::-moz-selection {
	background: #E0F7FA;
}
::selection {
	background: #E0F7FA;
}

header,nav,footer {
	display: none;
}



.MainHolder {
	width: 100%;
	height: 100%;
	position: relative;
}

.Main-izqHolder {
	position: absolute;
	padding: 2em;
}

.Main-izq {
	background-image: url("../img/back-left.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	height: 100%;
	width: 50%;
	overflow: hidden;
	position: relative;
}

.Main-izqLogo {
	display: block;
	margin-top: 6em;
}

.Main-izqImagen {
	width: 45%;
	display: block;
	margin: 0 auto;


}

.Main-izqTexto {
	text-align: center;
	font-weight: 300;
	font-size: 2em;
	line-height : 40px;
  	letter-spacing : 0.17px;
  	margin-top: 2.5em;
}

.Main-izqTexto span {
	font-weight: 400;
	color: #0097A7;
}

.Main-derHolder {
	position: relative;
	padding: 0 0 0 2em;
}
.Main-der {
	background-color: #36464E;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	position: absolute;
	

}

.Main-der h1 {
  	color : white;
  	font-size: 3em;
  	font-weight: 300;
	line-height : 36px;
  	letter-spacing : 0.2px;
  	margin-top: 4em;
  	margin-bottom: 0;
  	
}

.Main-derSub {
	color: #0097A7; 
	margin-top: 1em;
	margin-left: .3em;
} 

.Main-derContacte {
	display: block;
	margin-left: 2em;
}
.Main-derIconHolder {
	
	margin: 0 auto;
	padding: 2em 0 0 1em;
	text-align: center;
	width: 100%;


}

.Main-derIcont {
	display: inline-block;
	width: 110px;
	height: 150px;
	margin-right: 2em;

}

.Main-derIcon {
	border-color: white; 
	border: 2px solid white;
	border-radius: 50%;
	color: #fff;	
	cursor: pointer;
	display: inline-block;
	font-size: 0px;
	height: 90px;
	text-align: center;
	width: 90px;
	z-index: 1;
	text-decoration: none;
	margin: 1em 10px;
}

.Main-derIcon:after {
	pointer-events: none;
	position: absolute;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
	display: block;
}

.Main-derIcon:before {
	font-family: 'Simple-Line-Icons';
	speak: none;
	font-size: 36px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;	
	-webkit-font-smoothing: antialiased;
	display: block;
	cursor: text;

}

.Main-derText {
	display: block;
	color: white;
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	margin-top: 1em;
	padding: 1em;

	
	
}





	

